/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  /* Estilo das perguntas */
  #perguntas_recorrentes .pergunta {
    margin: 10px 0;
    padding: 10px;
    background-color: #ff2020;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #perguntas_recorrentes .pergunta strong {
    font-size: 16px;
    color: #1eff00;
  }
  
  /* Ocultando as respostas inicialmente */
  .resposta {
    display: none;
    margin-left: 10px;
    padding: 10px;
    background-color: #1eff00;
    border-left: 4px solid #cc0000;
    border-radius: 4px;
    color: #ff0000;
  }
  
  .resposta strong {
    font-size: 14px;
  }
  
  /* Estilo do formulário */
  #problemas-diferentes {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  #problemas-diferentes h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  /* Campos do formulário */
  #problemas-diferentes .login input[type="email"],
  #problemas-diferentes .login input[type="problema"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #problemas-diferentes .login label {
    margin-left: 5px;
    color: #555;
  }
  
  /* Botão enviar */
  #enviar {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #enviar:hover {
    background-color: #45a049;
  }
  #enviopegunta {
    position: fixed;
    top: 20px;
    right: -300px; /* Começa fora da tela */
    background-color: #119615;
    color: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: right 0.5s ease-in-out; /* Animação para entrar */
  }
  #grafico{
    position: inherit;
    float:left;
  }
  #problemas-diferentes{
    clear: both;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    #problemas-diferentes {
      width: 100%;
      padding: 10px;
    }
  }
