body{
    background: linear-gradient(to right, rgb(1, 94, 1) 33%, white 33%, white 66%, rgb(196, 1, 1) 66%);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    align-items: center;
    width: 30%;
    height: 400px;
    margin: auto;
    background: linear-gradient(90deg, #860d02, #8d0f03);
    box-shadow: 0px 0px 30px #700a01;
    margin-top: 9%;
    border-radius: 2%;
}
form{
    position: relative;
    left: 10%;
    top: 20%;
    color: #fff;
}
form h1{
    position: relative;
    left: 10%;
}
form .block{
    display: block;
    margin-top: 4%;
}
form input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 29%;
    height: 10%;
}
form label{
    display: inline;
    position: relative;
    right: 30%;
    bottom: 5px;
}
form img{
    display: flex;
    position: relative;
    bottom: 30px;
    left: 212px;
    width: 24px;
    height: 24px;
}
form button{
    display: block;
    width: 30%;
    height: 30px;
    position: relative;
    background:transparent;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #000000;
    cursor: pointer;
}
img[src="imgs-cadastro/papas.png"]{
    position: absolute;
    top: 30%;
    left: 45%;
    height: 44%;
    width: 25%;
    display: none;
}
form input:focus ~ label,
form input:valid ~ label{
    
    transform:translateY(-400px);
}